.about {
  margin-top: -1rem;
  padding-left: calc(var(--grid-unit) * 2 + (2 * var(--gutter)));
  padding-right: calc(var(--grid-unit) + (1 * var(--gutter)));
  margin-bottom: 4rem;

  .readMore {
    cursor: pointer;
  }
}
