.marker {
  position: sticky;
  top: calc(var(--top-margin) - 1em);
  left: 0;
  width: 100%;
  z-index: 1;
  height: 1px;

  .mark {
    height: 1px;
    width: 10px;
    background-color: var(--black);
    transition: margin-left 0.15s ease-in-out;

    &.default {
      display: none;
    }

    &.menu {
      margin-left: calc(var(--gutter));
    }

    &.meta {
      margin-left: calc((2 * var(--gutter)) + var(--grid-unit));
    }

    &.project {
      margin-left: calc(calc(7 * var(--grid-unit) + calc(8 * var(--gutter))));
    }
  }
}
