.menu {
  overflow-x: hidden;
  position: sticky;
  position: sticky;
  top: var(--top-margin);
  align-self: flex-start;

  ul {
    min-width: calc((var(--grid-unit) * 2) + (var(--gutter) * 1));
  }


  &.default {
    max-width: calc(var(--grid-unit) + var(--gutter));
  }

  &.menu {
    max-width: calc(2 * (var(--grid-unit) + var(--gutter)));
  }

  &.project {
    display: none;
  }
}