.projects {
  li {
    display: flex;
    margin-bottom: 7rem;
    scroll-margin-top: (--top-margin);

    @include mq($until: desktop) {
      flex-direction: column;
    }
  }

  .meta {
    overflow: hidden;
    position: sticky;
    top: var(--top-margin);
    left: 0;
    align-self: flex-start;

    @include mq($from: desktop) {
      transition: var(--column-transition);
      min-height: calc(100vh - var(--top-margin));
      min-width: calc(var(--grid-unit) + var(--gutter));
      max-width: calc(var(--grid-unit) + var(--gutter));
    }

    @include mq($until: desktop) {
      margin-bottom: 1.5rem;
      width: 100%;
      z-index: -1;
    }

    .wrapper {
      overflow: hidden;
      transition: var(--column-transition);
      padding-right: var(--gutter);
      white-space: nowrap;
    }

    &.active {
      min-width: calc((var(--grid-unit) * 2) + (2 * var(--gutter)));
    }

    &.hidden {
      min-width: 0;
      max-width: 0;
    }
  }

  .images {
    @include mq($from: desktop) {
      max-width: calc((var(--grid-unit) * 7) + (var(--gutter) * 6));
    }

    @include mq($until: desktop) {
      background-color: var(--white);
    }

    section {
      margin-bottom: var(--gutter-small);

      &:last-of-type {
        margin-bottom: 0;
      }

      figure div {
        max-width: none !important;
      }
    }
  }

  .info {
    overflow-x: hidden;
    position: sticky;
    top: var(--top-margin);
    left: 0;
    align-self: flex-start;

    @include mq($from: desktop) {
      transition: var(--column-transition);
      min-height: calc(100vh - var(--top-margin));
      margin-left: var(--gutter);
      max-width: calc(var(--grid-unit) + var(--gutter));
    }

    @include mq($until: desktop) {
      background-color: var(--white);
      padding-top: var(--line-height);
    }

    p {
      min-width: calc((var(--grid-unit) * 3) + (var(--gutter) * 3));
      padding-right: var(--gutter);

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.active {
      max-width: calc(3 * (var(--grid-unit) + var(--gutter)));
    }

    &.hidden {
      max-width: 0;
    }
  }
}