.projects {
  li {
    display: flex;
    margin-bottom: 5rem;
    scroll-margin-top: (--top-margin);
  }

  .meta {
    overflow: hidden;
    position: sticky;
    top: var(--top-margin);
    align-self: flex-start;
    min-width: calc(var(--grid-unit) + var(--gutter));
    transition: var(--column-transition);

    .wrapper {
      min-width: calc((var(--grid-unit) * 1) - var(--gutter));
      transition: var(--column-transition);
    }

    &.active {
      min-width: calc((var(--grid-unit) * 2) + var(--gutter));

      .wrapper {
        min-width: calc((var(--grid-unit) * 2) - var(--gutter));

      }
    }

  }

  .images {
    max-width: calc((var(--grid-unit) * 7) + (var(--gutter) * 6));

    section {
      margin-bottom: var(--gutter);

      &:last-of-type {
        margin-bottom: 0;
      }

      figure div {
        max-width: none !important;
      }
    }
  }

  .text {

    margin-left: var(--gutter);
    overflow-x: hidden;
    position: sticky;
    top: var(--top-margin);
    align-self: flex-start;
    max-width: calc(var(--grid-unit) + var(--gutter));
    transition: var(--column-transition);

    p {
      min-width: calc((var(--grid-unit) * 3) + (var(--gutter) * 3));

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &.active {
      max-width: calc(3 * (var(--grid-unit) + var(--gutter)));
    }

    &.inactive {
      max-width: 0;
    }
  }
}