.header {
  padding: var(--gutter);

  .top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;

    h1 {
      position: fixed;
      top: var(--gutter);
      left: var(--gutter);
      align-self: flex-start;
      backface-visibility: hidden;
    }
  }

}

.article {
  margin: var(--gutter);
  margin-right: 0;
  display: flex;
}