.fade {
  position: absolute;
  right: 0;
  top: 0;
  width: calc(3 * var(--gutter));
  height: 100%;
  z-index: 2;

  @include mq($until: desktop) {
    display: none;
  }

  &.hide {
    opacity: 0;
  }

  .gradient {
    position: absolute;
    right: calc(0.9 * var(--gutter));
    top: 0;
    width: calc(2.1 * var(--gutter));
    height: 100%;
    z-index: 3;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
  }

  .solid {
    position: absolute;
    right: 0;
    top: 0;
    width: calc(0.9 * var(--gutter));
    height: 100%;
    background-color: white;
    z-index: 2;
  }
}