$body-font: "GCourier", Times, Serif;
$headline-font: "RomWide", Helvetica, Sans-Serif;
$nav-font: "GCourier", Times, Serif;

@font-face {
  font-family: "GCourier";
  src: url("/fonts/GCourier.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
